html,body{
    background: var(--bs-dark);
    color: var(--bs-light);
}
@font-face {
  font-family: caligraphy;
  src: url(fonts/pentagrams.woff);
}
.logo {
  font-family: caligraphy;
  font-size: 3em;
}

.btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet);
  --bs-btn-border-color: var(--bd-violet);
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}

.signifactor {
  position: relative;
  top: 0;
  left: 0;
}
.covers {
  position: absolute;
  top: -5px;
  left: 1px;
  transform: rotate(8deg);
  max-height: 100%;
  object-fit: scale-down;
}
.cross {
  position: absolute;
  top: 20px;
  left: 5px;
  transform: rotate(-90deg);
  max-height: 100%;
  object-fit: scale-down;
}

/*  Shamelessly stolen from W3 Schools https://www.w3schools.com/howto/howto_css_shake_image.asp */
.shuffle {
  animation: shake 0.5s;
  animation-iteration-count: 1s;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
